.profile {
    grid-area: main;
    background-color: #f8a515c9;
}

.profile_top_img {
    width: 100%;
    height: 150px;
}

.profile_person_info {
    padding: 10px 20px;
}

.profile_person_info img {
    width: 150px;
    height: 215px;
}

.profile_person_info {
    display: flex;
    flex-direction: row;
}